In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import tensorflow

In [2]:
df = pd.read_csv('./0.csv')

In [3]:
df

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59996,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59999,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.columns

Index(['label', '1x1', '1x2', '1x3', '1x4', '1x5', '1x6', '1x7', '1x8', '1x9',
       ...
       '28x19', '28x20', '28x21', '28x22', '28x23', '28x24', '28x25', '28x26',
       '28x27', '28x28'],
      dtype='object', length=785)

In [6]:
df.shape

(60000, 785)

In [7]:
x = df.drop(['label'],axis = 1)

In [8]:
y = df['label']

In [12]:
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Activation
from tensorflow.keras.activations import sigmoid,relu,softmax

In [14]:
x.shape

(60000, 784)

In [18]:
# Architecture 

model = Sequential()

# First Hidden layer 

model.add(Dense(units = 256,kernel_initializer='he_uniform',activation='relu',input_dim = x.shape[1]))

# second layer 

model.add(Dense(units=128 ,kernel_initializer='he_uniform',activation='relu',))


#Third layer 

model.add(Dense(units=64 ,kernel_initializer='he_uniform',activation='relu',))


# fourth Layer 

model.add(Dense(units=32 ,kernel_initializer='he_uniform',activation='relu'))

# fifth Layer 

model.add(Dense(units=16 ,kernel_initializer='he_uniform',activation='relu',))


# sixth Layer 

model.add(Dense(units=8 ,kernel_initializer='he_uniform',activation='relu'))


# Seventh layer 

model.add(Dense(units=4,kernel_initializer='he_uniform',activation='relu'))


# Eith layer 

model.add(Dense(units= 10 ,kernel_initializer='glorot_uniform',activation='softmax'))

In [19]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 256)               200960

 dense_3 (Dense)             (None, 128)               32896

 dense_4 (Dense)             (None, 64)                8256

 dense_5 (Dense)             (None, 32)                2080

 dense_6 (Dense)             (None, 16)                528

 dense_7 (Dense)             (None, 8)                 136

 dense_8 (Dense)             (None, 4)                 36

 dense_9 (Dense)             (None, 10)                50

=================================================================
Total params: 244,942
Trainable params: 244,942
Non-trainable params: 0
_________________________________________________________________

In [20]:
model.compile(optimizer='adam',loss='sparse_catagorical_crossentropy',metrics=['accuracy'])